* {
    margin: 0;
    padding: 0;
}

#title{
    padding: 3rem;
    font-size: 2rem;
   
    color: #42033D;
}

body{
    background-color: #FFB7FF;
    text-align: center;
}

.container{
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.game{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 60vmin;
    width: 60vmin;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    color: #C879FF;
    cursor: pointer;
    background-color: white;
    
}

.resetButton{

    padding: 1rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 1rem;
    color: #42033D;
    background-color:#826AED ;
    cursor: pointer;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 1rem;
    color: #2B061E;
    background-color:#D2BF55 ;
    cursor: pointer;

}

#msg{
    font-size: 5rem;
    color: #42033D;
}

.msg-container{
    height: 50vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide {
    display: none;
}